.fc-prev-button,
.fc-next-button {
  background-color: transparent !important;
  border-color: transparent !important;
  stroke: none !important;
  border: none !important;
  color: #000000 !important;
  outline: none !important;
}
.fc-toolbar-chunk {
  display: flex;
}
.fc-bg-event {
  background-color: #c8d0d1 !important;
}